body {
  background-color: white;
}

div {
  font-family: "Times";
  font-style: bold;
  text-align: center;
  color: #60DFE5;
  font-size: 200%;
}

p {
  color: #60DFE5;
  font-style: bold;
  font-size: 200%;
}
